  <h1>Отправить E-Mail</h1>
  <form class="col-sm-6" [formGroup]="form">
    <div class="form-group">
      <label for="name">Имя:</label>
      <input
        formControlName="name"
        type="text" 
        id="name" 
        class="form-control">
        <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
          <div *ngIf=name.errors.required>
            Введите имя
          </div>
          <div *ngIf=name.errors.minlength>
            Имя должно содержать минимум {{ name.errors.minlength.requiredLength }} символа
          </div>
        </div>
        </div>
    <div class="form-group">
      <label for="surname">Фамилия:</label>
      <input
        formControlName="surname" 
        type="text" 
        id="surname" 
        class="form-control">
        <div *ngIf="surname.touched && surname.invalid" class="alert alert-danger">
          <div *ngIf=surname.errors.required>
            Введите фамилию
          </div>
          <div *ngIf=surname.errors.minlength>
            Фамилия должна содержать минимум {{ surname.errors.minlength.requiredLength }} символа
          </div>
        </div>
    </div>
    <div class="form-group">
      <label for="birthdate">День рождения:</label>
      <input
        formControlName="birthdate"  
        type="date" 
        id="birthdate" 
        class="form-control">
        <div *ngIf="birthdate.touched && birthdate.invalid" class="alert alert-danger">
          <div *ngIf=birthdate.errors.required>
            Введите дату рождения
          </div>
          <div *ngIf=birthdate.errors.tooYoung>
            Возраст должен быть не менее 18 лет
          </div>
        </div>
    </div>
    <div class="form-group">
      <label for="emailAddress"> E-mail:</label>
      <input
        formControlName="emailAddress"  
        type="email" 
        id="emailAddress" 
        class="form-control">
        <div *ngIf="emailAddress.touched && emailAddress.invalid" class="alert alert-danger">
          <div *ngIf=emailAddress.errors.required>
            Введите E-mail
          </div>
          <div *ngIf=emailAddress.errors.email>
            E-mail должен быть валидным
          </div>
        </div>
    </div>
    <button [disabled]="!this.form.valid" (click)="submit()" class="btn btn-primary">Отправить</button>
  </form>
